.mob_nav {
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  height: 100vh;
  width: 400px;
  transition: all 300ms ease-in-out;
  &.opened {
    transform: translateX(150px);
  }
  &.closed {
    transform: translateX(400px);
  }
  &__ovelay {
    height: 100vh;
    width: 100vw;
    background: none;
    position: absolute;
    display: none;
    opacity: 0;
    left: 0;
    top: 0;
    z-index: -1;
    transition: all 300ms ease-in-out;
    &.opened {
      backdrop-filter: blur(10px);
      display: block;
      opacity: 1;
    }
    &.closed {
      backdrop-filter: blur(0);
      display: none;
    }
  }
}
